body {
  margin: 0;
  font-family: "MedievalSharp";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: antiquewhite;
}

button {
  font-family: "MedievalSharp";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "MedievalSharp";
  src: local("MedievalSharp"),
    url("./fonts/MedievalSharp-Regular.ttf") format("truetype");
  font-weight: normal;
}
